body {
    background-color: rgb(231, 227, 221);
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 43px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 700;
}
.underline {
    border: 2px solid rgb(218, 190, 48);
    width: 70%;   
    margin-top: 10px;
}
.btn-conteiner {
    margin: 50px;
    display: flex;
    gap: 15px;
}
.filter-btn {
    padding: 5px 15px;
    font-size: 18px;
    text-transform: capitalize;
    font-family: sans-serif;
    color: #cb9b2c;
    border: 1px solid #e9c225;
    border-radius: 7px;
    cursor: pointer;
}
.active {
    color: white;
    background-color: #cb9b2c;
}
.filter-btn:hover {
    background-color: #cb9b2c;
    color: white;
}
.section-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin: 20px 20px 90px 20px;
}
.menu-item {
    max-width: 550px;
    max-height: 200px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
    border-radius: 7px;
}
.menu-item img {
    max-height: 150px;
    width: 100%;
}
.item-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;

}
.item-info header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 9px;
    border-bottom: 2px solid rgb(218, 190, 48);
}
.item-info header h4 {
    color: #000;
}
.item-info header {
    color: rgb(213, 208, 54);
}
.item-info p {
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(46, 45, 45);
}
@media (max-width: 1000px) {
    .item-info header {
        font-size: 18px;
    }
    .item-info p {
        font-size: 16px;
    }
}
@media (max-width: 900px) {
    .section-center {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 30px 90px 30px;
    }
}
@media (max-width: 500px) {
    .menu-item img {
        max-height: 100px;
    }
    .item-info header {
        font-size: 16px;
    }
    .item-info p {
        font-size: 14px;
    }
    .menu-item {
        padding: 10px 15px;
    }
    .btn-conteiner {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 400px) {
    .item-info header {
        font-size: 14px;
    }
    .item-info p {
        font-size: 12px;
    }
}